{\rtf1}
.container {
    width: 1280px;
    margin: 0 auto;
}

.menu-list {
    padding: 24px 0;
    text-align: center;
}

.menu-list-item {
    text-transform: uppercase;
    font-size: 16px;
    color: #16A085;
    text-decoration: none;
    margin-left: 49px;
    font-family: Arial, sans-serif;
}

.image {
    width: 100%;
    height: auto;
}

.article {
    padding: 18px 0;
    background: #f5f6f7;
    font-family: Arial, sans-serif;
    text-align: center;
}

.header-sub-title {
    text-transform: uppercase;
    font-size: 16px;
    padding: 26px 0;

}

.article-text {
    font-size: 10px;
    margin: 20px 0;
    line-height: 1.8;
}
.small-button {
    color: white;
    background-color: #16A085;
    border: none;
    padding: 15px;
    text-transform: uppercase;
}
