/*COMMON STYLE*/
.wrapper {
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.9);
}

/*HEADER*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 1);
}

.container-wrapper {
    margin: 0 auto;
    padding: 0 10px;
}

.header__body{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    flex: 0 0 90px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin-left: 58px;
}

.header__img{
    max-width: 100%;
    display: block;
}

.header__burger{
    display: none;
}

.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}

.header__item{
    list-style: none;
    margin-left: 20px;
}

.header__link{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 20px;
    text-decoration: none;
}

/*SECTION*/
.section{
    padding: 80px 0 0 0;
}

.photo {
    position: relative;
    background: url('../img/gym.png') no-repeat center right /cover;
    height: 460px;
}

.photo-title {
    position: absolute;
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 25px;
    padding: 41px 35px ;
    text-transform: uppercase;
    text-align: center;
    font-family: Montserrat, sans-serif;
    left: 2%;
    top: 6%;
    width: 257px;
    height: 111px;
}

.photo-website-link {
    position: absolute;
    width: 131px;
    height: 36px;
    background: rgb(0, 0, 0);
    left: 25%;
    top: 33%;
    padding: 10px 32px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    text-transform: capitalize;
    /*text-decoration: none;*/
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
}

.box::after {
    content: "";
    position: absolute;
    width: 236px;
    height: 65px;
    background: #ED1260;
    bottom: -65px;
    right: 0;
}

.section-text {
    padding: 103px 52px 60px 58px;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-family: Montserrat, sans-serif;
}

.section-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.section-item {
    width: 50%;
    text-align: center;
    height: 28vh;
}

.list-item-img {
    width: 65px;
    height: auto;
    text-align: center;
    padding-bottom: 14px;
    margin-top: 24px;
    box-sizing: border-box;
}

.list-item-text {
    color: #ffffff;
    text-align: center;
}

.map-wrapper {
    padding: 56px 14px 31px 14px;
}

.map {
    border: 5px solid #ED1260;
    text-align: center;
}

.map-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}

.address {
    text-transform: capitalize;
    color: #ffffff;
    padding-bottom: 11px;
    font-size: 12px;
}

.contacts {
    border: 5px solid #F38A03;
}

.contact-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 22px;
    padding-top: 26px;
}

.contact-item {
    display: flex;
    justify-content: end;
    /*align-items: center;*/
    /*height: 30vh;*/
    padding-bottom: 22px;

}

.icon {
    color: #F38A03;
    font-size: 22px;
    margin-left: 76px;
    margin-right: 26px;
}

.contact-name{
    visibility: hidden;
}

.contact-wrapper{
    display: flex;
    flex-direction: column;
}

.contact {
    color: #ffffff;
    font-size: 18px;
}

@media (max-width: 767px){
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
    }

    .header__burger:after,
    .header__burger:before{
        content: '';
        background-color: #F38A03;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header__burger:after{
        bottom: 0;
    }

    .header__burger:before{
        top: 0;
    }

    .header__span{
        position: absolute;
        background-color: #F38A03;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }

    .header__body{
        height: 50px;
    }

    .header__logo{
        flex: 0 0 70px;
    }

    .header__list{
        display: block;
    }

    .header__item{
        margin-bottom: 20px;
    }

    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }

    .header__span.active{
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }

    .header__menu.active{
        top: 0;
    }

    .body.lock{
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {
    .container-wrapper {
        max-width: 1280px;
    }

    .photo {
        width: 75%;
        margin: 0 auto;
    }

    .photo-title {
        font-size: 32px;
        left: 4%;
        top: 10%;
        width: 327px;
        height: 141px;
        padding: 56px 42px;
    }

    .photo-website-link {
        width: 200px;
        height: 55px;
        left: 12%;
        top: 45%;
        padding: 14px 55px;
        font-size: 22px;
        }

    .box::after {
        width: 107px;
        height: 347px;
        top: 0;
        right: -107px;
    }

    .section-list{
        margin-left: 191px;
    }

    .section-item{

    }

    .list-item-text{
        font-size: 18px;
        text-align: center;
    }

    .section-text {
        padding: 37px 174px 69px 174px;
        font-size: 25px;
        line-height: 30px;
    }

   .map-wrapper {
        width: 40%;
        height: auto;
        margin: 123px 30% 60px 30%;
        padding: 0;
    }

    .address {
        font-size: 22px;
    }

    .contacts {
        border: none;
    }

    .contact-title {
        font-size: 45px;
        font-weight: 400;
        text-align: left;
        padding-left: 194px;
        padding-bottom: 81px;
        padding-top: 36px;
    }

    .contact-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contact-item {
        display: flex;
        flex-direction: column;
        height: 30vh;
    }

    .icon{
        margin-bottom: 36px;
    }

    .contact-name{
        visibility: visible;
        color: #ffffff;
        font-size: 25px;
    }

    .contact {
        font-size: 25px;
    }
    }
